<div class="p-4">
  <div
    routerLink="/"
    class="bg-gray-200 rounded-md p-2 mb-2 cursor-pointer hover:bg-gray-300"
  >
    Insight dashboard
  </div>
  <div
    [routerLink]="['/leaderboard']"
    routerLinkActive="router-link-active"
    class="bg-gray-200 rounded-md p-2 mb-2 cursor-pointer hover:bg-gray-300"
  >
    <a routerLinkActive="router-link-active"> Leaderboard </a>
  </div>

  <div
    [routerLink]="['/opportunities']"
    routerLinkActive="router-link-active"
    class="bg-gray-200 rounded-md p-2 mb-2 cursor-pointer hover:bg-gray-300"
  >
    Opportunities
  </div>
  <div
    [routerLink]="['/my-dashboard']"
    routerLinkActive="router-link-active"
    class="bg-gray-200 rounded-md p-2 mb-2 cursor-pointer hover:bg-gray-300"
  >
    My Dashboard
  </div>
</div>
