<div class="font-bold text-lg text-center">
  Data-Driven Insights For Open Source Projects
</div>

<div class="max-w-[600px] mx-auto">
  <input
    placeholder="Search for a project..."
    class="w-full border border-gray-400 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
    type="text"
  />
</div>
<br>
<br>
<br>
<div>
  <div class="card border rounded w-[300px] h-[400px]">
    <div class="tite">
      <a [routerLink]="['/foundations/cncf']" class="text-blue-500"
        >Cloud Native Computing Foundation</a
      >
    </div>
    <div class="description">Cloud Native Computing Foundation</div>
  </div>
</div>
